In [81]:
import pandas as pd

# Datasets e Series

Uma boa diferenciação a ser feita é: o que são DataSets e o que são Series:

* Datasets são essencialmente tabelas, onde as colunas são chamadas de atributos e as linhas são chamadas de indices
* Series são pedaços da tabela, não é a totalidade da tabela mas sim uma coluna ou uma linha especifica, ou uma medida feita neste formato
* Ou seja, datasets são tabelas enquanto series são colunas ou linhas

# Abertura de arquivos e exibição

* A abertura de arquivos é feita com as propriedades *'read_extensãoDoArquivo(caminho do arquivo)'* (no caso, read_csv).
Após armazenar em uma variavel basta passar a variavel sozinha para exibir o dataframe

* Neste caso ainda temos o separador, por padrão os arquivos CSV são separados por ',' mas nos caso em que não for assim é necessario passar qual separador aquele arquivo utiliza com o parametro *sep=*

* df é um Dataset, pois trata da tabela inteira

In [82]:
df = pd.read_csv('pandas-essencial-main/datasets/GasPricesinBrazil_2004-2019.csv', sep=';')

In [83]:
df.head() # O parametro head mostra por padrão as cinco(ou N) primeiras linhas do DF

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

# Seleção de colunas

A seleção de colunas pode ser feita de Duas formas:

Passando o nome da coluna de um DF entre colchetes e aspas - DF[' ']

Passando o nome da coluna depois de um ponto - DF.< nome da coluna >

(*Obs: Esse método só funciona em colunas cujo nome não possui espaços ou caracteres especiais*)

Quando uma seleção é feita de alguma destas formas o Pandas Retorna uma Series

In [84]:
# Pode ser feita passando o nome do dataframe e o nome da coluna entre colchetes e aspas
Series = df["ESTADO"]
Series

0            DISTRITO FEDERAL
1                       GOIAS
2                 MATO GROSSO
3          MATO GROSSO DO SUL
4                     ALAGOAS
                 ...
106818    RIO GRANDE DO NORTE
106819      RIO GRANDE DO SUL
106820         SANTA CATARINA
106821              SAO PAULO
106822                SERGIPE
Name: ESTADO, Length: 106823, dtype: object

In [85]:
# Pode ser feito tambem passando o nome da coluna depois de um ponto, mas esse metodo só funciona para colunas sem espaços nos nomes e sem caracteres especiais
tipo2 = df.ESTADO
tipo2

0            DISTRITO FEDERAL
1                       GOIAS
2                 MATO GROSSO
3          MATO GROSSO DO SUL
4                     ALAGOAS
                 ...
106818    RIO GRANDE DO NORTE
106819      RIO GRANDE DO SUL
106820         SANTA CATARINA
106821              SAO PAULO
106822                SERGIPE
Name: ESTADO, Length: 106823, dtype: object

# Seleção de linhas e colunas:

A Seleção de linhas e colunas pode ser feita por meio do índice ou rótulo, e para cada uma possuimos uma fórmula com sintaxe Parecida, Levando uma linha como primeiro argumento e uma coluna como segundo.

## Seleção por índices:
A selção por índices utiliza o método Iloc[], ele espera uma linha como primeiro argumento e uma coluna como segundo argumento, podendo estes serem um intervalo, listas, ou funções. Ele por padrão seleciona a linha primeiro

## Seleção por rótulos
A seleção pro rótulos utiliza o método Loc[], sua sintaxe é igual ao Iloc, porem ele procura pelo nome da linha/Coluna e não pelo seu índice. Ele aceita a busca por listas, tuplas e intervalos

*OBS: Utilizando o método Loc[] o pandas adota os indices(números) das linhas como rótulos, não sendo necessario passa-los entre aspas.*

In [86]:
df.iloc[0:, 0].head() # Localiza todas os registros da linha zero em diante apenas para a coluna zero

0    0
1    1
2    2
3    3
4    4
Name: Unnamed: 0, dtype: int64

In [87]:
df.loc[4,'ESTADO'] # Localiza o quarto registro da coluna ESTADO

'ALAGOAS'

# Informações Gerais do DataFrame:

Algumas informações gerais do DF, como a quantidade de linhas, colunas, e seu tamanho, podem ser adquiridas com o método shape e size.

O primeiro retorna a quantidade de linhas e colunas de um DF como uma tupla, então é possivel desmembrar esta informação em mais de uma variavel.

O segundo retorna o tamanho do DF, que é a *Quantidade de linhas* X *A Quantidade de colunas*, ou seja, é a quantidade de células do DF. O valor retornado é unico.

Demais informações como a quantidade de registros e o nome das colunas podem ser adquiridos com os metodos index e columns

In [88]:
linhas, colunas = df.shape
print(f'O DataSet possui {linhas} linhas e {colunas} colunas')

O DataSet possui 106823 linhas e 21 colunas

In [89]:
tamanho = df.size
print(f'O DataSet possui {tamanho} células')

O DataSet possui 2243283 células

In [90]:
df.index # Retorna o ìndice inicial e final do dataframe, apresentando sua progressão

RangeIndex(start=0, stop=106823, step=1)

In [91]:
df.columns # Retorna o nome das colunas

Index(['Unnamed: 0', 'DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO',
       'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO', 'MÊS',
       'ANO'],
      dtype='object')

In [92]:
df.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [93]:
df.tail() # o método tail mostra as ultimas cinco(Ou N) linhas de um DF

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

# Atribuição de valores ao dataFrame:

É possivel fazer dois tipos de atribuição de valores ao DataFrame, a atribuição de valores constantes e a atribuição de valores variados.

## Valores constantes:
Caso seja passado um valor unico para a coluna, este será o mesmo para todas as linhas da coluna.

## Valores variados:

Para atribuir diversos valores ao DF é importante que a quantidade de valores seja igual a quantidade de linhas do DF, e é necessario que seja passada uma lista de novos valores. Neste caso podemos usar list comprehension.

In [94]:
dfCopia = df.copy() # df.copy() cria uma cópia do dataframe original, assim evitando que o original seja alterado
dfCopia['ESTADO'] = 0 # Este código atribui o valor '0' pára todos os registros da coluna ESTADO
dfCopia.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,0,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [95]:
dfCopia2 = df.copy()
novosValores = [i for i in range(linhas)] # É usada compreensão de listas para criar uma lista com os novos valores de uma coluna
dfCopia2['ESTADO'] = novosValores # A lista de novos valores é atribuida a coluna

dfCopia2.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,1,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,2,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,3,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,4,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

# Criação de colunas no DF:

A criação de colunas em um DF segue uma ideia parecida com a criação de chaves de um dicionario: se não existe, escreva como se fosse editar uma coluna ja existente.

A nova coluna deve conter a mesma quantidade de linhas do DF original.

A criação de novas colunas segue as mesmas lógicas da alteração de colunas ja existintes, ou seja, ela pode conter valores constantes ou variados.

As novas colunas podem ser criadas a partir de colunas ja Existintes no DF

In [96]:
dfCopia3 = df.copy()
listaRegistros = [f"Registro {i}" for i in range(linhas)] # Criação de nova coluna a partir de compreensão de listas
dfCopia3['REGISTROS'] = listaRegistros
dfCopia3['ESTATICO'] ="Teste" # Criação de nova coluna com valor Estatico
dfCopia3['PREÇO MÉDIO REVENDA (Dólar)'] = dfCopia3['PREÇO MÉDIO REVENDA'] * 5.8 # Criação de nova coluna a partir de uma coluna ja existente
dfCopia3.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,REGISTROS,ESTATICO,PREÇO MÉDIO REVENDA (Dólar)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Registro 0,Teste,7.4704
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Registro 1,Teste,6.7396
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Registro 2,Teste,8.0562
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,Registro 3,Teste,7.3196
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Registro 4,Teste,6.8498

# Renomeação de colunas:

A renomeação de colunas é feita com o método Rename, em essencia, é necessario passar um dicionario com, o nome antigo como chave, o nome novo como valor, e definindo se o que vai ser modificado é a coluna ou a linha.

É possivel renomear passando valores isolados para cada chave, mapeamento de registros, ou listas

In [97]:
dfrenomeado = df.rename(columns={'Unnamed: 0': 'Índice'})
dfrenomeado.head()

,Índice,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

# Remoção de colunas

A remoção de colunas pode ser feita com os métodos Del e Drop, mas apenas o Drop será explorado.

O método drop remove uma coluna ou linha baseado em seu índice ou rótulo, é necessario definir se será excluida uma linha ou uma coluna. aceita como parametros valores estaticos, listas ou slices

In [98]:
dfRemovido = dfCopia3.copy()
dfRemovido = dfRemovido.drop(columns='Unnamed: 0') # Retira a coluna com nome 'Unnamed: 0'
dfRemovido.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,REGISTROS,ESTATICO,PREÇO MÉDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Registro 0,Teste,7.4704
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Registro 1,Teste,6.7396
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Registro 2,Teste,8.0562
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,Registro 3,Teste,7.3196
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Registro 4,Teste,6.8498

In [99]:
dfRemovido = dfRemovido.drop(columns=['REGISTROS', 'ESTATICO']) # Retira as colunas REGISTROS e ESTATICO
dfRemovido.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,PREÇO MÉDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,7.4704
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,6.7396
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,8.0562
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,7.3196
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,6.8498

In [100]:
dfRemovido = dfRemovido.drop(dfRemovido.iloc[0:0, -1:], axis=1) # Retira a ultima coluna, o -1 indica que é a ultima linha/coluna
dfRemovido.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

# Salvar DF:

Para salvar um Df utilizamos o método to_CSV (ou alguma outra extensão mostrada com o 'to')

Neste caso precisamos passar primeiro o caminho onde o arquivo vai ser salvo, isso é obrigatorio.

Alguns pontos opcionais deste método são:
* podemos utilizar o parametro 'sep' para definir um separador diferente da virgula, que é padrão para arquivos CSV

* Podemos passar o parametro *Index=False* para não criar uma coluna de índice, por padrão esta opção fica ativa, e a coluna gerada não tem nome

No caso de arquivos JSON, passamos o caminho para salvar o arquivo e a orientação(Como ele vai ser salvo), como opcionais temos formatações de numero(ident), data(date_format), e texto(force_Ascii).

o exemplo ficou um pouco mais complicado pois para salvar com a formatação do UTF-8 é necessario abrir o aquivo com a função *with* no modo de escrita, e passando a UTF-8 como tipo de formatação

In [101]:
dfProcessado = dfRemovido.copy()

In [102]:
# dfProcessado.to_csv(r"C:\Users\kevyn\Documents\TesteDF\Documentoprocesado.CSV", index=False)

In [103]:
# with open(r"C:\Users\kevyn\Documents\TesteDF\Documentoprocesado.json", "w", encoding="utf-8") as file:
    # dfProcessado.to_json(file , orient='columns', indent=2, force_ascii=False)

In [104]:
# dfProcessado.to_excel(r"C:\Users\kevyn\Documents\TesteDF\Documentoprocesado.xlsx", sheet_name='teste', index=False)

# Filtragem de dados:

A filtragem de dados é feita a partir de comparações diretas de valores.

## Seleção de uma variavel:
Depois de verificada uma comparação direta, basta armazenar o valor em uma variavel e passa-la no colchetes do DF

In [105]:
dfProcessado['ESTADO'].unique() # o método unique retorna os valores exclusivos de uma coluna

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [106]:
CombustivelSãoPaulo = dfProcessado['ESTADO'] == 'SAO PAULO' # retorna uma series dizendo quais valores são verdadeiros e falsos para a condição e os armazena na variavel

In [107]:
dfProcessado[CombustivelSãoPaulo].head() # Ao passar a variavel para seleção, ele retorna todas as instancias do DF que satisifazem a condição

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004

In [108]:
PrecoMedio  = dfProcessado['PREÇO MÉDIO REVENDA'] >= 1.22
dfProcessado[PrecoMedio].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004

In [109]:
tipoProduto = dfProcessado['PRODUTO'] == 'GNV'

In [110]:
dfProcessado[tipoProduto].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
36196,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GNV,3,R$/m3,1.099,0.000,1.099,1.099,0.257,0.000,0.842,0.011,0.8347,0.8546,0.013,5,2004
36197,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GNV,3,R$/m3,1.084,0.000,1.084,1.084,0.295,0.000,0.789,0,0.7888,0.7888,0,5,2004
36198,2004-05-09,2004-05-15,NORDESTE,BAHIA,GNV,19,R$/m3,1.079,0.000,1.079,1.079,0.374,0.000,0.705,0.136,0.4214,0.8031,0.193,5,2004
36199,2004-05-09,2004-05-15,NORDESTE,CEARA,GNV,20,R$/m3,1.184,0.001,1.180,1.184,0.354,0.001,0.83,0.096,0.6811,0.9982,0.116,5,2004
36200,2004-05-09,2004-05-15,NORDESTE,PARAIBA,GNV,8,R$/m3,1.149,0.000,1.149,1.149,0.357,0.000,0.792,0.098,0.6827,0.9071,0.124,5,2004

## Utilizando o método Query:

O método Query mostra do DF com a condicional diretamente, porem é necessario se atentar as comparações de strings. Como o python é case sensitive é necessario utilizar simbolos diferentes na comparação para ele detectar como duas coisas diferentes que estão uma dentro da outra.

O metodo Query não aceita nomes com espaços ou acentos especiais por padrão. O que pode ser feito é mudar o nome das colunas para algo unico ou usar Backsticks (``) para "Burlar" esse problema

In [111]:
dfProcessado.query('ESTADO == "SAO PAULO"').head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004

In [112]:
dfProcessado.query('`PREÇO MÉDIO REVENDA` >= 1.22').head() # Necessario o uso de backSticks para o query reconhecer a coluna com espaços e acentos

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004

## Seleção de mais de uma variavel:

A seleção com mais de uma variavel é feita usando o método query, pois ele comporta operadores condicionais.

Mas tambem pode ser feita com duas comparaçoes diferentes, basta colocar cada comparação em um parenteses e "liga-las" com um operador condicional. 
E então volta para o processo de comparação de uma variavel

& é o operador de AND
| é o operador OR
~ é o operador NOT

In [113]:
dfProcessado.query('`PREÇO MÉDIO REVENDA` >= 1.22 and ESTADO == "SAO PAULO" and PRODUTO == "GNV"').head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
37682,2006-03-05,2006-03-11,SUDESTE,SAO PAULO,GNV,128,R$/m3,1.223,0.083,1.079,1.399,0.379,0.068,0.844,0.153,0.553,1.07,0.181,3,2006
37698,2006-03-12,2006-03-18,SUDESTE,SAO PAULO,GNV,138,R$/m3,1.224,0.093,1.049,1.499,0.39,0.076,0.834,0.151,0.622,1.07,0.181,3,2006
39618,2008-06-01,2008-06-07,SUDESTE,SAO PAULO,GNV,90,R$/m3,1.505,0.158,1.059,1.899,0.624,0.105,0.881,0.17,0.6554,1.34,0.193,6,2008
39635,2008-06-08,2008-06-14,SUDESTE,SAO PAULO,GNV,88,R$/m3,1.511,0.132,1.190,1.998,0.59,0.087,0.921,0.221,0.6554,1.62,0.24,6,2008
39651,2008-06-15,2008-06-21,SUDESTE,SAO PAULO,GNV,96,R$/m3,1.522,0.121,1.159,1.999,0.762,0.080,0.76,0.272,0.6554,1.394,0.358,6,2008

In [114]:
precoXestado = (dfProcessado['ESTADO'] == 'SAO PAULO') & (dfProcessado['PREÇO MÉDIO REVENDA'] >= 1.22) & (dfProcessado['PRODUTO'] == 'GNV')
dfProcessado[precoXestado].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
37682,2006-03-05,2006-03-11,SUDESTE,SAO PAULO,GNV,128,R$/m3,1.223,0.083,1.079,1.399,0.379,0.068,0.844,0.153,0.553,1.07,0.181,3,2006
37698,2006-03-12,2006-03-18,SUDESTE,SAO PAULO,GNV,138,R$/m3,1.224,0.093,1.049,1.499,0.39,0.076,0.834,0.151,0.622,1.07,0.181,3,2006
39618,2008-06-01,2008-06-07,SUDESTE,SAO PAULO,GNV,90,R$/m3,1.505,0.158,1.059,1.899,0.624,0.105,0.881,0.17,0.6554,1.34,0.193,6,2008
39635,2008-06-08,2008-06-14,SUDESTE,SAO PAULO,GNV,88,R$/m3,1.511,0.132,1.190,1.998,0.59,0.087,0.921,0.221,0.6554,1.62,0.24,6,2008
39651,2008-06-15,2008-06-21,SUDESTE,SAO PAULO,GNV,96,R$/m3,1.522,0.121,1.159,1.999,0.762,0.080,0.76,0.272,0.6554,1.394,0.358,6,2008

In [115]:
VendasporAnoMes = (dfProcessado['MÊS'] >5) & (dfProcessado['ANO'] > 2008)
dfProcessado[VendasporAnoMes].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
7096,2009-06-07,2009-06-13,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,89,R$/l,1.762,0.029,1.70,1.830,0.415,0.016,1.347,0.1,1.11,1.4756,0.074,6,2009
7097,2009-06-07,2009-06-13,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,256,R$/l,1.515,0.127,1.26,1.870,0.415,0.084,1.1,0.107,0.9299,1.4292,0.097,6,2009
7098,2009-06-07,2009-06-13,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,142,R$/l,1.323,0.245,1.10,1.900,0.253,0.185,1.07,0.145,0.925,1.4423,0.136,6,2009
7099,2009-06-07,2009-06-13,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,140,R$/l,1.659,0.132,1.47,1.959,0.332,0.080,1.327,0.064,1.17,1.54,0.048,6,2009
7100,2009-06-07,2009-06-13,NORDESTE,ALAGOAS,ETANOL HIDRATADO,106,R$/l,1.685,0.113,1.55,2.070,0.211,0.067,1.474,0.04,1.397,1.6001,0.027,6,2009

## Duas formas de seleção:

Podemos verificar o DF completo varias vezes, ou a cada verificação criar um DF menor, e fazer as comparações nestes DF menores.

Para o segundo método uma formula seria:

*faz a verificação e guarda em uma variavel -> Passa a variavel no DF -> cria um novo DF com o resultado*

In [116]:
# Verificando o mesmo DF original varias vezes
sel1 = dfProcessado['PRODUTO'] == 'GNV'
sel2 = dfProcessado['ESTADO'] == 'SAO PAULO'
sel3 = dfProcessado['PREÇO MÉDIO REVENDA'] >= 1.22
selFinal = sel1 & sel2 & sel3

dfProcessado[selFinal].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
37682,2006-03-05,2006-03-11,SUDESTE,SAO PAULO,GNV,128,R$/m3,1.223,0.083,1.079,1.399,0.379,0.068,0.844,0.153,0.553,1.07,0.181,3,2006
37698,2006-03-12,2006-03-18,SUDESTE,SAO PAULO,GNV,138,R$/m3,1.224,0.093,1.049,1.499,0.39,0.076,0.834,0.151,0.622,1.07,0.181,3,2006
39618,2008-06-01,2008-06-07,SUDESTE,SAO PAULO,GNV,90,R$/m3,1.505,0.158,1.059,1.899,0.624,0.105,0.881,0.17,0.6554,1.34,0.193,6,2008
39635,2008-06-08,2008-06-14,SUDESTE,SAO PAULO,GNV,88,R$/m3,1.511,0.132,1.190,1.998,0.59,0.087,0.921,0.221,0.6554,1.62,0.24,6,2008
39651,2008-06-15,2008-06-21,SUDESTE,SAO PAULO,GNV,96,R$/m3,1.522,0.121,1.159,1.999,0.762,0.080,0.76,0.272,0.6554,1.394,0.358,6,2008

In [117]:
# A cada verificação, cria um DF menor e verifica sobre o novo DF
# Faz a verificação e guarda em uma variavel -> Passa a variavel no DF -> cria um novo DF com o resultado

CombustivelSãoPaulo = dfProcessado['ESTADO'] == 'SAO PAULO' # Faz a filtragem
CombSP = dfProcessado[CombustivelSãoPaulo] # Cria um novo DF com a filtragem anterior

GNV = CombSP['PRODUTO'] == 'GNV' # Faz a filtragem em cima do novo DF
GNV_sp = CombSP[GNV] # Cria mais um DF menor usando a filtragem anterior

preco_revenda = GNV_sp['PREÇO MÉDIO REVENDA'] >= 1.22 # Faz a verificação em cima do novo DF criado
preco_GNV_SP = GNV_sp[preco_revenda] # Cria um novo DF menor usando a verificação anterior

preco_GNV_SP.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
37682,2006-03-05,2006-03-11,SUDESTE,SAO PAULO,GNV,128,R$/m3,1.223,0.083,1.079,1.399,0.379,0.068,0.844,0.153,0.553,1.07,0.181,3,2006
37698,2006-03-12,2006-03-18,SUDESTE,SAO PAULO,GNV,138,R$/m3,1.224,0.093,1.049,1.499,0.39,0.076,0.834,0.151,0.622,1.07,0.181,3,2006
39618,2008-06-01,2008-06-07,SUDESTE,SAO PAULO,GNV,90,R$/m3,1.505,0.158,1.059,1.899,0.624,0.105,0.881,0.17,0.6554,1.34,0.193,6,2008
39635,2008-06-08,2008-06-14,SUDESTE,SAO PAULO,GNV,88,R$/m3,1.511,0.132,1.190,1.998,0.59,0.087,0.921,0.221,0.6554,1.62,0.24,6,2008
39651,2008-06-15,2008-06-21,SUDESTE,SAO PAULO,GNV,96,R$/m3,1.522,0.121,1.159,1.999,0.762,0.080,0.76,0.272,0.6554,1.394,0.358,6,2008

# Limpeza de dados: 
A limpeza de dados consistem em verificar a integridade e utilidade dos dados, ou seja, trata-los para que não estejam vazios, e para que estejam com os tipos de daods corretos.

## Conversão de dados:

Primeiro garantiremos que os dados são do tipo correto. Para verificar os tipos atuais dos dados utilizamos o metodo *.info()*. 

As principais fórmulas para mudar um tipo de dado são:

* to_datetime - converte ua String para data e hora

* to_numeric - converte uma String para inteiro

* astype() - converte um tipo de dado para int, float, bollean, String, ou Category

In [118]:
dfCopiaProcessada = dfProcessado.copy()

In [119]:
dfCopiaProcessada['DATA INICIAL'] = pd.to_datetime(dfCopiaProcessada['DATA INICIAL']) # Se a data ja for uma string(object) formatado, basta utilizado método to_datetime para converter para o tipo de dado certo
dfCopiaProcessada['DATA FINAL'] = pd.to_datetime(dfCopiaProcessada['DATA FINAL'])

In [120]:
# Itera sobre todos os elesmentos da lista, modificando eles para o tipo de dados numerico
for atributo in ['MARGEM MÉDIA REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO', 'DESVIO PADRÃO DISTRIBUIÇÃO',
                 'PREÇO MÍNIMO REVENDA', 'PREÇO MÁXIMO REVENDA', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
                 'PREÇO MÁXIMO DISTRIBUIÇÃO','COEF DE VARIAÇÃO DISTRIBUIÇÃO']:
  dfCopiaProcessada[atributo] = pd.to_numeric(dfCopiaProcessada[atributo], errors='coerce') # Com o parametro errors = 'coerce', qualquer erro na alteração do valor é substituida por um dado nulo/NAN

In [121]:
dfTeste = dfCopiaProcessada.copy()
dfTeste['NÚMERO DE POSTOS PESQUISADOS'] = dfTeste['NÚMERO DE POSTOS PESQUISADOS'].astype(float) # Transforma a coluna em float

## Tratamento de valores vazios:

Após a conversão dos dados é possivel que tenhamos valores vazios ou duplicados. 

Para tratar dos valores vazios, podemos substitui-los popr um valor padrão ou por uma seria de valores, para isso usamos o método *fillna()*, este pode receber um valor unico, um dicionario, ou uma lista como parametro para tratar os dados vazios

outra opção é retirar as linhas ou colunas que contenham dados vazios, para isso utilizamos o método *dropna()*


Existem outros métodos de tratamento de daods, como os para remover valores duplicados ou muito fora de uma média, mas por agora nos focaremos somente nestes dois.

In [122]:
# O método isnull retorna uma series bolleana para os valores vazios de um DF

mask = dfCopiaProcessada['PREÇO MÉDIO DISTRIBUIÇÃO'].isnull()

In [123]:
dfFill = dfCopiaProcessada.fillna(0) #Colocou o valor 0 em todos os valores NaN

In [124]:
dfFillDict = dfCopiaProcessada.fillna(value={
    'MARGEM MÉDIA REVENDA': 10,
    'PREÇO MÉDIO DISTRIBUIÇÃO': 20,
    'DESVIO PADRÃO DISTRIBUIÇÃO': 'Vazio'
})
# Com o parametro value, podemos passar um dicionario indicando quais colunas desejamos alterar e com qual valor. Aceita tanto números quanto strings

In [125]:
dfDrop = dfCopiaProcessada.dropna() # A função dropna, por padrão, remove todas as linhas vazias independente da coluna

In [126]:
# Após o Dropna temos menos registros do que no DF original
dfPreprocessado = dfDrop.copy()
print(dfCopiaProcessada.shape)
print(dfPreprocessado.shape)

(106823, 20)
(103392, 20)

# Estatisticas:

In [127]:
estatisticas = dfPreprocessado.describe() # Descreve varias estatisticas no DF, como as médias, valores mínimos e máximos, entre outros.Cria um outro DF com as medidas
estatisticas

,DATA INICIAL,DATA FINAL,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
count,103392,103392,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000,103392.000000
mean,2012-03-26 06:09:34.094707712,2012-04-01 06:09:34.094707712,240.511935,10.784472,0.652589,9.334931,12.458686,2.225151,0.045749,8.559322,0.559441,7.414814,9.805621,0.046640,6.485067,2011.737001
min,2004-05-09 00:00:00,2004-05-15 00:00:00,1.000000,0.766000,0.000000,0.590000,0.999000,0.001000,0.000000,0.506000,0.000000,0.325700,0.599200,0.000000,1.000000,2004.000000
25%,2008-05-25 00:00:00,2008-05-31 00:00:00,47.000000,2.073000,0.073000,1.900000,2.330000,0.282000,0.030000,1.795000,0.047000,1.674400,1.945600,0.021000,4.000000,2008.000000
50%,2012-07-08 00:00:00,2012-07-14 00:00:00,108.000000,2.723000,0.115000,2.509000,3.000000,0.383000,0.042000,2.335000,0.077000,2.220000,2.507050,0.031000,6.000000,2012.000000
75%,2016-01-24 00:00:00,2016-01-30 00:00:00,251.000000,3.745000,0.190000,3.490000,4.150000,0.560000,0.058000,3.307000,0.151000,3.142800,3.520000,0.061000,9.000000,2016.000000
max,2019-06-23 00:00:00,2019-06-29 00:00:00,4167.000000,99.357000,10.748000,90.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000,12.000000,2019.000000
std,NaN,NaN,408.039174,17.685852,1.346422,15.024383,20.801190,4.375085,0.024488,13.603686,1.256914,11.681366,15.933999,0.042114,3.442155,4.410491

In [128]:
estatisticas.loc[['min', 'max', 'mean']] # Os indiçes do DF criado pelo describe são rótulos, sendo assim eles podem ser acessados com o método loc

,DATA INICIAL,DATA FINAL,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
min,2004-05-09 00:00:00,2004-05-15 00:00:00,1.000000,0.766000,0.000000,0.590000,0.999000,0.001000,0.000000,0.506000,0.000000,0.325700,0.599200,0.00000,1.000000,2004.000000
max,2019-06-23 00:00:00,2019-06-29 00:00:00,4167.000000,99.357000,10.748000,90.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.78000,12.000000,2019.000000
mean,2012-03-26 06:09:34.094707712,2012-04-01 06:09:34.094707712,240.511935,10.784472,0.652589,9.334931,12.458686,2.225151,0.045749,8.559322,0.559441,7.414814,9.805621,0.04664,6.485067,2011.737001

In [129]:
estatisticas.loc[['min', 'max', 'mean'], 'MARGEM MÉDIA REVENDA'] # Visto que as estatisticas são tratadas como linhas, é possivel utilizar o método loc para encontrar valores especificos em colunas especificas

min      0.001000
max     36.847000
mean     2.225151
Name: MARGEM MÉDIA REVENDA, dtype: float64

In [130]:
# è possivel acessar cada estatistica do describe individualmente, pois cada uma delas é um método
estatisticas['MARGEM MÉDIA REVENDA'].min() # valor mínimo

0.001

In [131]:
estatisticas['MARGEM MÉDIA REVENDA'].max() # Valor máximo

103392.0

In [132]:
estatisticas['MARGEM MÉDIA REVENDA'].mean() # Valor médio

np.float64(12929.584154452297)

In [133]:
estatisticas['MARGEM MÉDIA REVENDA'].std() # desvio padrão

36552.33796524293

In [134]:
estatisticas['MARGEM MÉDIA REVENDA'].count() # Contagem dos valores

np.int64(8)

In [135]:
dfPreprocessado['ESTADO'].unique() # retorna os valores unicos de uma coluna

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [136]:
dfPreprocessado['ESTADO'].value_counts() # Retorna em ordem decrescente quantas vezes um dado unico aparece na coluna

ESTADO
BAHIA                  4263
RIO DE JANEIRO         4262
SAO PAULO              4261
RIO GRANDE DO SUL      4249
PARAIBA                4240
PERNAMBUCO             4236
SERGIPE                4202
SANTA CATARINA         4164
MINAS GERAIS           4142
ESPIRITO SANTO         4079
MATO GROSSO DO SUL     4076
ALAGOAS                4020
RIO GRANDE DO NORTE    3999
CEARA                  3964
PARANA                 3902
AMAZONAS               3713
MATO GROSSO            3703
PARA                   3477
MARANHAO               3470
ACRE                   3463
RORAIMA                3457
TOCANTINS              3453
GOIAS                  3449
RONDONIA               3441
PIAUI                  3394
DISTRITO FEDERAL       3317
AMAPA                  2996
Name: count, dtype: int64

In [137]:
# dfEstados = dfPreprocessado['ESTADO'].value_counts().to_frame() # o método to_frame converte uma series em um DF
# dfEstados.rename(columns={'count': 'Frequencia'})

# Aplicação de funções:


É possivel aplicar funções no DF ou em uma series utilizando três métodos principais:

OBS: eles aceitam tanto funções nomeadas como funções Lambda

* apply - Funciona em DF e em Series(Recebe uma função(nomeada ou não), precisa de um eixo de aplicação)
* map - Funciona apenas em Series(Recebe uma função(nomeada ou não), não precisa de um eixo de aplicação)
* applymap - Funciona apenas em DF(Recebe uma função(nomeada ou não), não precisa de um eixo de aplicação)

In [138]:
dfFuncao = pd.DataFrame({ 'A': [1, 2, 3, 4], 
                    'B': [10, 20, 30, 40],
                    'C': [100, 200, 300, 400]}, 
                     index=['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4'])

In [139]:
def soma(linha):
    return linha.sum()

In [140]:
dfFuncao['Somas'] = dfFuncao.apply(soma, axis=1)
dfFuncao

         A   B    C  Somas
Linha 1  1  10  100    111
Linha 2  2  20  200    222
Linha 3  3  30  300    333
Linha 4  4  40  400    444

In [141]:
dfFuncao.loc['Linha 5'] = dfFuncao.apply(lambda x: x.sum(), axis=0)
dfFuncao

          A    B     C  Somas
Linha 1   1   10   100    111
Linha 2   2   20   200    222
Linha 3   3   30   300    333
Linha 4   4   40   400    444
Linha 5  10  100  1000   1110

# Agrupamento de dados:

É feito com o método *groupby*, este faz o agrupamento de diversos dados categóricos, ou seja, faz o agrupamento de colunas. É possivel aplicar funções ou estatisticas nos grupos.

In [142]:
grupoRegiao = dfPreprocessado.groupby('REGIÃO')

In [143]:
grupoRegiao.groups # Retorna todos os indices que estão nos agrupamentos da coluna.

{'CENTRO OESTE': [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], 'NORDESTE': [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], 'NORTE': [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], 'SUDESTE': [20, 21, 22, 23, 47, 48, 49, 50, 74, 75, 76, 77, 101, 102, 103, 104, 128, 129, 130, 131, 155, 156, 157, 158, 182, 183, 184, 185, 209, 210, 211, 212, 236, 237, 238, 239, 263, 264, 265, 266, 290, 291, 292, 293, 317, 318, 319, 320, 344, 345, 346, 347, 371, 372, 373, 374, 398, 399, 400, 401, 425, 426, 427, 428, 452, 453, 454, 455, 479, 480, 481, 482, 506, 507, 508, 509, 533, 534, 535, 536, 560, 561, 562, 563, 587, 588, 589, 590, 614, 615, 616, 617, 641, 642, 643, 644, 668, 669, 670, 671, ...], 'SUL': [24, 25, 26, 51, 52, 53, 78, 79, 80, 105, 106, 107, 132, 133, 134, 159, 160, 161, 186, 187, 188, 213, 214, 215, 240, 241, 242, 267, 268, 269, 294, 295, 296, 321, 322, 323, 348, 349, 350, 375, 376, 377, 402, 403, 404, 429, 430, 431, 456, 457, 458, 483, 484, 485, 510, 511, 512, 537, 538, 539, 564, 565, 566, 591, 592, 593, 618, 619, 620, 645, 646, 647, 672, 673, 674, 699, 700, 701, 726, 727, 728, 753, 754, 755, 780, 781, 782, 807, 808, 809, 834, 835, 836, 861, 862, 863, 888, 889, 890, 915, ...]}

In [144]:
grupoRegiao.indices # faz o mesmoo que o metodo groups

{'CENTRO OESTE': array([     0,      1,      2, ..., 103363, 103364, 103383],
       shape=(14545,)),
 'NORDESTE': array([     4,      5,      6, ..., 103385, 103387, 103391],
       shape=(35788,)),
 'NORTE': array([    13,     14,     15, ..., 103374, 103375, 103379],
       shape=(24000,)),
 'SUDESTE': array([    20,     21,     22, ..., 103377, 103386, 103390],
       shape=(16744,)),
 'SUL': array([    24,     25,     26, ..., 103376, 103388, 103389],
       shape=(12315,))}

In [145]:
grupoRegiao.get_group('NORDESTE') # Retorna uma tabela com apenas os registros de um certo dado agrupado da coluna

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082,5,2004
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35000,0.134,5,2004
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.100,0.068,0.7332,1.29400,0.062,5,2004
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082,5,2004
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,1.699,0.353,0.101,0.931,0.072,0.7577,1.29720,0.077,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106810,2019-06-23,2019-06-29,NORDESTE,CEARA,GNV,16,R$/m3,3.656,0.034,3.580,3.690,0.876,0.009,2.780,0.000,2.7802,2.78020,0.000,6,2019
106814,2019-06-23,2019-06-29,NORDESTE,PARAIBA,GNV,11,R$/m3,3.688,0.016,3.660,3.719,0.620,0.004,3.068,0.025,3.0317,3.06760,0.008,6,2019
106816,2019-06-23,2019-06-29,NORDESTE,PERNAMBUCO,GNV,12,R$/m3,2.698,0.260,2.690,3.600,0.791,0.096,1.907,0.196,1.7116,2.07000,0.103,6,2019
106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,3.690,0.818,0.018,2.756,0.000,2.7560,2.75600,0.000,6,2019
106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,3.699,1.179,0.001,2.518,0.000,2.5175,2.51750,0.000,6,2019

In [146]:
grupoRegiao.describe() # pode ser aplicado o describe e as outras estatisticas descritivas

             DATA INICIAL                                                      \
                    count                           mean                  min
REGIÃO
CENTRO OESTE        14545  2012-04-08 13:21:07.982124288  2004-05-09 00:00:00
NORDESTE            35788  2012-03-14 10:57:28.306694656  2004-05-09 00:00:00
NORTE               24000            2012-04-22 18:54:00  2004-05-09 00:00:00
SUDESTE             16744  2012-03-15 12:41:32.307692288  2004-05-09 00:00:00
SUL                 12315  2012-03-05 18:32:56.711327744  2004-05-09 00:00:00

                                                                             \
                              25%                  50%                  75%
REGIÃO
CENTRO OESTE  2008-06-08 00:00:00  2012-07-22 00:00:00  2016-02-14 00:00:00
NORDESTE      2008-05-18 00:00:00  2012-06-03 00:00:00  2016-01-24 00:00:00
NORTE         2008-06-15 00:00:00  2012-09-12 12:00:00  2016-02-14 00:00:00
SUDESTE       2008-05-25 00:00:00  2012-06-24 00:00:00  2016-01-03 00:00:00
SUL           2008-05-04 00:00:00  2012-06-10 00:00:00  2015-12-27 00:00:00

                                       DATA FINAL  \
                              max  std      count
REGIÃO
CENTRO OESTE  2019-06-23 00:00:00  NaN      14545
NORDESTE      2019-06-23 00:00:00  NaN      35788
NORTE         2019-06-23 00:00:00  NaN      24000
SUDESTE       2019-06-23 00:00:00  NaN      16744
SUL           2019-06-23 00:00:00  NaN      12315

                                             ...   MÊS                ANO  \
                                       mean  ...   max       std    count
REGIÃO                                       ...
CENTRO OESTE  2012-04-14 13:21:07.982124288  ...  12.0  3.438364  14545.0
NORDESTE      2012-03-20 10:57:28.306694912  ...  12.0  3.443494  35788.0
NORTE                   2012-04-28 18:54:00  ...  12.0  3.443137  24000.0
SUDESTE       2012-03-21 12:41:32.307692288  ...  12.0  3.441515  16744.0
SUL           2012-03-11 18:32:56.711327744  ...  12.0  3.442232  12315.0


                     mean     min     25%     50%     75%     max       std
REGIÃO
CENTRO OESTE  2011.773599  2004.0  2008.0  2012.0  2016.0  2019.0  4.409036
NORDESTE      2011.704454  2004.0  2008.0  2012.0  2016.0  2019.0  4.418046
NORTE         2011.812083  2004.0  2008.0  2012.0  2016.0  2019.0  4.410914
SUDESTE       2011.707895  2004.0  2008.0  2012.0  2016.0  2019.0  4.395436
SUL           2011.681608  2004.0  2008.0  2012.0  2015.0  2019.0  4.408312

[5 rows x 128 columns]

In [147]:
agrupamentoRegiaoProduto = dfPreprocessado.groupby(['REGIÃO', 'PRODUTO'])

In [148]:
agrupamentoRegiaoProduto.get_group(('CENTRO OESTE', 'ETANOL HIDRATADO'))

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143,5,2004
27,2004-05-16,2004-05-22,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,144,R$/l,1.271,0.039,1.060,1.300,0.448,0.031,0.823,0.111,0.4094,1.19310,0.135,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106535,2019-06-16,2019-06-22,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,84,R$/l,3.457,0.177,3.199,3.899,0.482,0.051,2.975,0.093,2.8800,3.38900,0.031,6,2019
106679,2019-06-23,2019-06-29,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,46,R$/l,3.157,0.130,2.899,3.699,0.356,0.041,2.801,0.103,2.6567,3.07070,0.037,6,2019
106681,2019-06-23,2019-06-29,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,234,R$/l,2.900,0.125,2.630,3.349,0.489,0.043,2.411,0.067,2.2566,2.60560,0.028,6,2019
106683,2019-06-23,2019-06-29,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,160,R$/l,2.436,0.188,2.177,2.899,0.296,0.077,2.140,0.116,2.0700,2.44170,0.054,6,2019
106684,2019-06-23,2019-06-29,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,85,R$/l,3.434,0.189,3.129,3.899,0.475,0.055,2.959,0.058,2.8400,3.09210,0.020,6,2019

In [149]:
# A aplicação de funções em grupos é feita com o método agg. Para funções Built in, é bom passa-las como string
agrupamentoRegiaoProduto['NÚMERO DE POSTOS PESQUISADOS'].agg(['max', 'min'])

                                max  min
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO   487    4
             GASOLINA COMUM     492    6
             GLP                766    2
             GNV                 10    1
             ÓLEO DIESEL        430    6
             ÓLEO DIESEL S10    185    5
NORDESTE     ETANOL HIDRATADO   543    1
             GASOLINA COMUM     625    3
             GLP                493    2
             GNV                 51    1
             ÓLEO DIESEL        535    2
             ÓLEO DIESEL S10    277    2
NORTE        ETANOL HIDRATADO   150    1
             GASOLINA COMUM     265    4
             GLP                383    3
             GNV                  5    1
             ÓLEO DIESEL        240    4
             ÓLEO DIESEL S10    146    1
SUDESTE      ETANOL HIDRATADO  4111    6
             GASOLINA COMUM    4167   16
             GLP               2165    4
             GNV                294    1
             ÓLEO DIESEL       3237   12
             ÓLEO DIESEL S10   1374    9
SUL          ETANOL HIDRATADO   871   11
             GASOLINA COMUM     924   15
             GLP               1416   12
             GNV                 60    1
             ÓLEO DIESEL        712   23
             ÓLEO DIESEL S10    368    7

# Ordenação:

A odenação dos valores é feita especialmente pelo método *sort_values()*, ele pode receber um eixo de atuação como parametro, e pode ser definido se a ordenação será crescente ou decrescente com o parametro *ascending*.

OBS: O método *key* permite passar funções para a ordenação.

In [150]:
notas = pd.DataFrame({
    'nome': ['João', 'Maria', 'José', 'Alice'],
    'idade': [20, 21, 19, 20],
    'nota_final': [5.0, 10.0, 6.0, 10.0]
})
notas

    nome  idade  nota_final
0   João     20         5.0
1  Maria     21        10.0
2   José     19         6.0
3  Alice     20        10.0

In [151]:
notas.sort_values(by='nota_final') # O método recebe um dado pelo qual ele deve ordenar

    nome  idade  nota_final
0   João     20         5.0
2   José     19         6.0
1  Maria     21        10.0
3  Alice     20        10.0

In [152]:
notas.sort_values(by='nota_final', ascending=False) # O parametro ascending=False, retorna os valores em ordem decrescente

    nome  idade  nota_final
1  Maria     21        10.0
3  Alice     20        10.0
2   José     19         6.0
0   João     20         5.0

In [153]:
# Podemos passar listas de ordenação no método, o primeiro elemento da lista será a primeira ordenação, o segundo elemento vai ser uma ordeneção para os valores iguais da primeira ordenaçãoabs
notas.sort_values(by=['nota_final', 'idade'], ascending=[False, True])
# Primeiro ordena de maneira decrescente as notas finais
# para valores iguais, ordena por idade de maneira crescente

    nome  idade  nota_final
3  Alice     20        10.0
1  Maria     21        10.0
2   José     19         6.0
0   João     20         5.0