In [1]:
import pandas as pd

# Datasets e Series

Uma boa diferenciação a ser feita é: o que são DataSets e o que são Series:

* Datasets são essencialmente tabelas, onde as colunas são chamadas de atributos e as linhas são chamadas de indices
* Series são pedaços da tabela, não é a totalidade ta tabela mas sim uma coluna ou uma linha especifica, ou uma medida feita neste formato

# Abertura de arquivos e exibição

* A abertura de arquivos é feita com as propriedades *'read_extensãoDoArquivo(caminho do arquivo)'* (no caso, read_csv).
Após armazenar em uma variavel basta passar a variavel sozinha para exibir o dataframe

* Neste caso ainda temos o separador, por padrão os arquivos CSV são separados por ',' mas nos caso em que não for assim é necessario passar qual separador aquele arquivo utiliza com o parametro *sep=*

* df é um Dataset, pois trata da coluna inteira

In [2]:
df = pd.read_csv('pandas-essencial-main/datasets//GasPricesinBrazil_2004-2019.csv', sep=';')

In [3]:
df.head() # O parametro head mostra por padrão as cinco primeiras linhas do DF

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

# Seleção de colunas

A seleção de colunas pode ser feita de Duas formas:

Passando o nome da coluna de um DF entre colchetes e aspas - DF[' ']

Passando o nome da coluna depois de um ponto - DF.< nome da coluna >

(*Obs: Esse método só funciona em colunas cujo nome não possui espaços ou caracteres especiais*)

Quando uma seleção é feita de alguma destas formas o Pandas Retorna uma Series

In [4]:
# Pode ser feita passando o nome do dataframe e o nome da coluna entre colchetes e aspas
Series = df["ESTADO"]
Series

0            DISTRITO FEDERAL
1                       GOIAS
2                 MATO GROSSO
3          MATO GROSSO DO SUL
4                     ALAGOAS
                 ...
106818    RIO GRANDE DO NORTE
106819      RIO GRANDE DO SUL
106820         SANTA CATARINA
106821              SAO PAULO
106822                SERGIPE
Name: ESTADO, Length: 106823, dtype: object

In [5]:
# Pode ser feito tambem passando o nome da coluna depois de um ponto, mas esse metodo só funciona para colunas sem espaços nos nomes e sem caracteres especiais
tipo2 = df.ESTADO
tipo2

0            DISTRITO FEDERAL
1                       GOIAS
2                 MATO GROSSO
3          MATO GROSSO DO SUL
4                     ALAGOAS
                 ...
106818    RIO GRANDE DO NORTE
106819      RIO GRANDE DO SUL
106820         SANTA CATARINA
106821              SAO PAULO
106822                SERGIPE
Name: ESTADO, Length: 106823, dtype: object

# Seleção de linhas e colunas:

A Seleção de linhas e colunas pode ser feita por meio do índice ou rótulo, e para cada uma possuimos uma fórmula com sintaxe Parecida, Levando uma linha como primeiro argumento e uma coluna como segundo.

## Seleção por índices:
A selção por índices utiliza o método Iloc[], ele espera uma linha como primeiro argumento e uma coluna como segundo argumento, podendo estes serem um intervalo, listas, ou funções. Ele por padrão seleciona a linha primeiro

## Seleção por rótulos
A seleção pro rótulos utiliza o método Loc[], sua sintaxe é igual ao Iloc, porem ele procura pelo nome da linha/Coluna e não pelo seu índice. Ele aceita a busca por listas, tuplas e intervalos

*OBS: Utilizando o método Loc[] o pandas adota os indices(números) das linhas como rótulos, não sendo necessario passa-los entre aspas.*

In [6]:
df.iloc[0:, 0].head() # Localiza todas os registros da linha zero em diante apenas para a coluna zero

0    0
1    1
2    2
3    3
4    4
Name: Unnamed: 0, dtype: int64

In [7]:
df.loc[4,'ESTADO'] # Localiza o quarto registro da coluna ESTADO

'ALAGOAS'

# Informações Gerais do DataFrame:

Algumas informações gerais do DF, como a quantidade de linhas, colunas, e seu tamanho, podem ser adquiridas com o método shape e size.

O primeiro retorna a quantidade de linhas e colunas de um DF como uma tupla, então é possivel desmembrar esta informação em mais de uma variavel.

O segundo retorna o tamanho do DF, que é a quantidade de linhas * a Quantidade de colunas, ou seja, é a quantidade de células do DF. O valor retornado é unico.

Demais informações como a qauntidade de registros e o nome das colunas podem ser adquiridos com os metodos index e columns

In [8]:
linhas, colunas = df.shape
print(f'O DataSet possui {linhas} linhas e {colunas} colunas')

O DataSet possui 106823 linhas e 21 colunas

In [9]:
tamanho = df.size
print(f'O DataSet possui {tamanho} células')

O DataSet possui 2243283 células

In [10]:
df.index # Retorna o registro inicial e final dos índices e a progressão entre cada registro

RangeIndex(start=0, stop=106823, step=1)

In [11]:
df.columns # Retorna o nome das colunas

Index(['Unnamed: 0', 'DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO',
       'PRODUTO', 'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO', 'MÊS',
       'ANO'],
      dtype='object')

In [12]:
df.head() # o método head mostra as primeiras n colunas de um DF(Por padrão mostra cinco)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [13]:
df.tail() # o método tail mostra as ultimas n colunas de um DF(Por padrão mostra cinco)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

# Atribuição de valores ao dataFrame:

É possivel fazer dois tipos de atribuição de valores ao DataFrame, a atribuição de valores constantes e a atribuição de valores variados.

## Valores constantes:
Caso seja passado um valor unico para a coluna, aquele valor substituirá todos os valores da coluna.

## Valores variados:

Para atribuir diversos valores ao DF é importante que a quantidade de valores seja igual a quantidade de linhas do DF, e é necessario que seja passada uma lista de novos valores. Neste caso podemos usar list comprehension.

In [14]:
dfCopia = df.copy() # df.copy() cria uma cópia do dataframe original, assim evitando que o original seja alterado
dfCopia['ESTADO'] = 0 # Este código atribui o valor '0' pára todos os registros da coluna ESTADO
dfCopia.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,0,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [15]:
dfCopia2 = df.copy() # É criada a cópia
novosValores = [i for i in range(linhas)] # É usada compreensão de listas para criar uma lista com os novos valores de uma coluna
dfCopia2['ESTADO'] = novosValores # A lista de novos valores é atribuida a coluna

dfCopia2.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,0,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,1,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,2,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,3,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,4,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

# Criação de colunas no DF:

A criação de colunas em um DF segue uma ideia parecida com a criação de chaves de um dicionario: se não existe, escreva como se fosse editar uma coluna ja existente.

A nova coluna deve conter a mesma quantidade de linhas do DF original.

A criação de novas colunas segue as mesmas lógicas da alteração de colunas ja existintes, ou seja, ela pode conter valores constantes ou variados.

As novas colunas podem ser criadas a partir de colunas ja Existintes no DF

In [16]:
dfCopia3 = df.copy()
listaRegistros = [f"Registro {i}" for i in range(linhas)] # Criação de nova coluna a partir de compreensão de listas
dfCopia3['REGISTROS'] = listaRegistros
dfCopia3['ESTATICO'] ="Teste" # Criação de nova coluna com valor Estatico
dfCopia3['PREÇO MÉDIO REVENDA (Dólar)'] = dfCopia3['PREÇO MÉDIO REVENDA'] * 5.8 # Criação de nova coluna a partir de uma coluna ja existente
dfCopia3.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,REGISTROS,ESTATICO,PREÇO MÉDIO REVENDA (Dólar)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Registro 0,Teste,7.4704
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Registro 1,Teste,6.7396
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Registro 2,Teste,8.0562
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,Registro 3,Teste,7.3196
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Registro 4,Teste,6.8498

# Renomeação de colunas:

A renomeação de colunas é feita com o método Rename, em essencia, é necessario passar um dicionario com o nome antigo como chave e o nome novo como valor, e definindo se o que vai ser modificado é a coluna ou a linha.

É possivel renomear passando valores isolados para cada chave, mapeamento de registros, ou listas

In [17]:
dfrenomeado = df.rename(columns={'Unnamed: 0': 'Índice'})
dfrenomeado.head()

,Índice,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

#Remoção de colunas

A remoção de colunas pode ser feita com os métodos Del e Drop, mas apenas o Drop será explorado.

O método drop remove uma coluna ou linha baseado em seu índice ou rótulo, é necessario definir se será excluida uma linha ou uma coluna. aceita como parametros valores estaticos, listas ou slices

In [18]:
dfRemovido = dfCopia3.copy()
dfRemovido = dfRemovido.drop(columns='Unnamed: 0') # Retira a coluna com nome 'Unnamed: 0'
dfRemovido.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,REGISTROS,ESTATICO,PREÇO MÉDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.825,0.11,0.4201,0.9666,0.133,5,2004,Registro 0,Teste,7.4704
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.763,0.088,0.5013,1.05,0.115,5,2004,Registro 1,Teste,6.7396
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.97,0.095,0.5614,1.161,0.098,5,2004,Registro 2,Teste,8.0562
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.83,0.119,0.5991,1.22242,0.143,5,2004,Registro 3,Teste,7.3196
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.941,0.077,0.7441,1.0317,0.082,5,2004,Registro 4,Teste,6.8498

In [19]:
dfRemovido = dfRemovido.drop(columns=['REGISTROS', 'ESTATICO']) # Retira as colunas REGISTROS e ESTATICO
dfRemovido.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,PREÇO MÉDIO REVENDA (Dólar)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004,7.4704
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004,6.7396
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004,8.0562
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004,7.3196
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004,6.8498

In [20]:
dfRemovido = dfRemovido.drop(dfRemovido.iloc[0:0, -1:], axis=1) # Retira a ultima coluna, o -1 indica que é a ultima linha/coluna
dfRemovido.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

# Salvar DF:

Para salvar um Df utilizamos o método to_CSV (ou alguma outra extensão mostrada com o 'to')

Neste caso precisamos passar primeiro o caminho onde o arquivo vai ser salvo, isso é obrigatorio.

Alguns pontos opcionais deste método são:
* podemos utilizar o parametro 'sep' para definir um separador diferente da virgula, que é padrão para arquivos CSV

* Podemos passar o parametro *Index=False* para não criar uma coluna de índice, por padrão esta opção fica ativa, e a coluna gerada não tem nome

No caso de arquivos JSON, passamos o caminho para salvar o arquivo e a orientação(Como ele vai ser salvo), como opcionais temos formatações de numero(ident), data(date_format), e texto(force_Ascii).

o exemplo ficou um pouco mais complicado pois para salvar com a formatação do UTF-8 é necessario abrir o aquivo com a função *with* no modo de escrita, e passando a UTF-8 como tipo de formatação

In [31]:
dfProcessado = dfRemovido.copy()

In [21]:
dfProcessado.to_csv(r"C:\Users\kevyn\Documents\TesteDF\Documentoprocesado.CSV", index=False)

In [22]:
with open(r"C:\Users\kevyn\Documents\TesteDF\Documentoprocesado.json", "w", encoding="utf-8") as file:
    dfProcessado.to_json(file , orient='columns', indent=2, force_ascii=False)

In [23]:
dfProcessado.to_excel(r"C:\Users\kevyn\Documents\TesteDF\Documentoprocesado.xlsx", sheet_name='teste', index=False)

# Filtragem de dados:

A filtragem de dados é feita a partir de comparações diretas de valores.

## Seleção de uma variavel:
Depois de verificada uma comparação direta, basta armazenar o valor em uma variavel e passa-la no colchetes do DF

In [32]:
dfProcessado['ESTADO'].unique() # o método unique retorna os valores exclusivos de uma coluna

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [34]:
CombustivelSãoPaulo = dfProcessado['ESTADO'] == 'SAO PAULO' # retorna uma series dizendo quais valores são verdadeiros e falsos para a condição e os armazena na variavel

In [37]:
dfProcessado[CombustivelSãoPaulo].head() # Ao passar a variavel para seleção, ele retorna todas as instancias do DF que satisifazem a condição

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004

In [45]:
PrecoMedio  = dfProcessado['PREÇO MÉDIO REVENDA'] >= 1.22
dfProcessado[PrecoMedio].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004

In [47]:
tipoProduto = dfProcessado['PRODUTO'] == 'GNV'

In [55]:
dfProcessado[tipoProduto].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
36196,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GNV,3,R$/m3,1.099,0.000,1.099,1.099,0.257,0.000,0.842,0.011,0.8347,0.8546,0.013,5,2004
36197,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GNV,3,R$/m3,1.084,0.000,1.084,1.084,0.295,0.000,0.789,0,0.7888,0.7888,0,5,2004
36198,2004-05-09,2004-05-15,NORDESTE,BAHIA,GNV,19,R$/m3,1.079,0.000,1.079,1.079,0.374,0.000,0.705,0.136,0.4214,0.8031,0.193,5,2004
36199,2004-05-09,2004-05-15,NORDESTE,CEARA,GNV,20,R$/m3,1.184,0.001,1.180,1.184,0.354,0.001,0.83,0.096,0.6811,0.9982,0.116,5,2004
36200,2004-05-09,2004-05-15,NORDESTE,PARAIBA,GNV,8,R$/m3,1.149,0.000,1.149,1.149,0.357,0.000,0.792,0.098,0.6827,0.9071,0.124,5,2004

## Utilizando o método Query:

O método Query mostra do DF com a condicional diretamente, porem é necessario se atentar as comparações de strings. Como o python é case sensitive é necessario utilizar simbolos diferentes na comparação para ele detectar como duas coisas diferentes que estão uma dentro da outra.

O metodo Query não aceita nomes com espaços ou acentos especiais por padrão. O que pode ser feito é mudar o nome das colunas para algo unico ou usar Backsticks (``) para "Burlar" esse problema

In [57]:
dfProcessado.query('ESTADO == "SAO PAULO"').head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004

In [64]:
dfProcessado.query('`PREÇO MÉDIO REVENDA` >= 1.22').head() # Necessario o uso de backSticks para o query reconhecer a coluna com espaços e acentos

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,5,2004
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062,5,2004

## Seleção de mais de uma variavel:

a seleção com mais de uma variavel é feita usando o método query, pois ele comporta operadores condicionais
Mas tambem pode ser feita com duas comparaçoes diferentes, basta colocar cada comparação em um parebteses e "liga-las" com um operador condicional. E então volta para o processo de comparação de uma variavel

& é o operador de AND
| é o operador OR
~ é o operador NOT

In [74]:
dfProcessado.query('`PREÇO MÉDIO REVENDA` >= 1.22 and ESTADO == "SAO PAULO" and PRODUTO == "GNV"').head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
37682,2006-03-05,2006-03-11,SUDESTE,SAO PAULO,GNV,128,R$/m3,1.223,0.083,1.079,1.399,0.379,0.068,0.844,0.153,0.553,1.07,0.181,3,2006
37698,2006-03-12,2006-03-18,SUDESTE,SAO PAULO,GNV,138,R$/m3,1.224,0.093,1.049,1.499,0.39,0.076,0.834,0.151,0.622,1.07,0.181,3,2006
39618,2008-06-01,2008-06-07,SUDESTE,SAO PAULO,GNV,90,R$/m3,1.505,0.158,1.059,1.899,0.624,0.105,0.881,0.17,0.6554,1.34,0.193,6,2008
39635,2008-06-08,2008-06-14,SUDESTE,SAO PAULO,GNV,88,R$/m3,1.511,0.132,1.190,1.998,0.59,0.087,0.921,0.221,0.6554,1.62,0.24,6,2008
39651,2008-06-15,2008-06-21,SUDESTE,SAO PAULO,GNV,96,R$/m3,1.522,0.121,1.159,1.999,0.762,0.080,0.76,0.272,0.6554,1.394,0.358,6,2008

In [73]:
precoXestado = (dfProcessado['ESTADO'] == 'SAO PAULO') & (dfProcessado['PREÇO MÉDIO REVENDA'] >= 1.22) & (dfProcessado['PRODUTO'] == 'GNV')
dfProcessado[precoXestado].head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
37682,2006-03-05,2006-03-11,SUDESTE,SAO PAULO,GNV,128,R$/m3,1.223,0.083,1.079,1.399,0.379,0.068,0.844,0.153,0.553,1.07,0.181,3,2006
37698,2006-03-12,2006-03-18,SUDESTE,SAO PAULO,GNV,138,R$/m3,1.224,0.093,1.049,1.499,0.39,0.076,0.834,0.151,0.622,1.07,0.181,3,2006
39618,2008-06-01,2008-06-07,SUDESTE,SAO PAULO,GNV,90,R$/m3,1.505,0.158,1.059,1.899,0.624,0.105,0.881,0.17,0.6554,1.34,0.193,6,2008
39635,2008-06-08,2008-06-14,SUDESTE,SAO PAULO,GNV,88,R$/m3,1.511,0.132,1.190,1.998,0.59,0.087,0.921,0.221,0.6554,1.62,0.24,6,2008
39651,2008-06-15,2008-06-21,SUDESTE,SAO PAULO,GNV,96,R$/m3,1.522,0.121,1.159,1.999,0.762,0.080,0.76,0.272,0.6554,1.394,0.358,6,2008